.alert-box {
  padding: 20px 40px 20px 85px;
  background: rgba(255,125,166,1);
  background: linear-gradient(to right, rgba(255,125,166,1) 0%, rgba(255,163,164,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7da6', endColorstr='#ffa3a4', GradientType=1 );
  position: relative;
  border-radius: 3px;
  margin-bottom: 40px;

  &__icon {
    font-size: 34px;
    color: #fff;
    opacity: .34;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__content {
    position: relative;
    padding-left: 24px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      left: -2px;
      width: 1px;
      top: 0;
      bottom: 0;
      background: #f2779f;
    }

    &:after {
      position: absolute;
      display: block;
      content: '';
      left: -1px;
      width: 1px;
      top: 0;
      bottom: 0;
      background: #f2779f;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
  }

  &__desc {
    font-size: 16px;
    color: #fff;
  }
}
