* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	@include roboto;
}

.main {
	padding: 98px 34px 0;
}

.icon {
	display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button {
	display: block;
}

.h2 {
	font-size: 18px;
	font-weight: 500;
	color: #2c2c2c;
	margin-bottom: 12px;

	&--mb40 {
		margin-bottom: 40px;
	}
}

p {
	font-size: 14px;
	color: #000;
	margin-bottom: 15px;
}

a {
	font-size: 14px;
	color: #2196f3;
	text-decoration: underline;
}

li {
	list-style: none;
}
